<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Επικοινωνία</h3>
    
    <div class="row g-5 mb-5">
    <div class="col-md-6">
        <h4>Σπύρίδων Μαυρομάτης</h4>
        <p>E-mail: inf.dig2201@ionio.gr</p>
        <p>{{ contact.institution }} | {{ contact.institution_address }}</p>
        <p>Email: {{ inf.dig2201@ionio.gr }}</p>
        
      </div>
      <div class="col-md-6">
        <h4>Ιωάννα Κανλίδου</h4>
        <p>E-mail: inf.dig2204@ionio.gr</p>
        <p>{{ contact.institution }} | {{ contact.institution_address }}</p>
        <p>Email: {{ inf.dig2204@ionio.gr }}</p>
        
      </div>
      <div class="col-md-6">
        <img src="{{ site.github.url }}/{{ contact.image }}" alt="Contact" width="100%">
      </div>
    </div>
    {% endfor %}
  </div>
</div>
