<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Η Εργασία</h3>
    
Προβολή
Επιλογή 10 Σημείων/Αντικειμένων Πολιτιστικού Ενδιαφέροντος (ΣΑΠΕ) με κοινή θεματολογία. Παρουσίαση με θέμα οι Λίμνες στην Ελλάδα

Συλλογή Πληροφοριών
συλλογή πληροφοριών για τις λίμνες στην Ελλάδα χρησιμοποιώντας κάθε προσβάσιμο τεκμήριο (π.χ. φωτογραφίες, κείμενα κλπ)

Παρουσίαση
Ψηφιοποίηση και αξιοποίηση ανοικτών δεδομένων πολιτιστικού περιεχομένου μέσω της πλατφόρμας wikidata.org αξιοποιώντας linked data τεχνολογία.
  </div>
</div>
