<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Η Εργασία</h3>
---   
<p><b>Προβολή</b></p>
<p>Επιλογή 10 Σημείων/Αντικειμένων Πολιτιστικού Ενδιαφέροντος (ΣΑΠΕ) με κοινή θεματολογία. Παρουσίαση με θέμα οι Λίμνες στην Ελλάδα</p>
<hr>
<p><b>Συλλογή Πληροφοριών</b></p>
<p>Η συλλογή των πληροφοριών για τις λίμνες στην Ελλάδα πραγματοποιήθηκε χρησιμοποιώντας κάθε προσβάσιμο τεκμήριο (π.χ. φωτογραφίες, κείμενα κλπ)</p>
<hr>
<p><b>Παρουσίαση</b></p>
<p>Ψηφιοποίηση και αξιοποίηση ανοικτών δεδομένων πολιτιστικού περιεχομένου μέσω της πλατφόρμας wikidata.org αξιοποιώντας linked data τεχνολογία.</p>
  </div>
</div>
